<navigation></navigation>

<div class="main_content">
    <header>
        <div class="bg-textbox">
            <div class="row text-center">
                <img id="osmos-logo-main" src="images/logo.png" alt="Osmos logo"/>
            </div>
            <div class="row text-center">
                <a href class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-1 main-buttons" title="Academic partners sign up here" ng-click="vm.showAcademic()">
                    <i class="fa fa-graduation-cap fa-4x"></i>
                    <h3>Academic partners</h3>
                    <p>
                        Recieve support for establishing collaborations with industrial actors,
                        promote your results via different diffusion and communications channels,
                        and recieve tips on potentional partners for building a consortium.
                    <h4>Join us for FREE</h4>
                    </p>
                </a>
                <a href class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-2 main-buttons" title="Industrial partners sign up here" ng-click="vm.showIndustrial()">
                    <i class="fa fa-industry fa-4x"></i>
                    <h3>Industrial partners</h3>
                    <p>
                        Recieve support for finding the experts within your domain of interest,<br />
                        stay up to date with the most recent advances in ICT, and propose
                        collaboration projects suited for your organization's needs.
                    <h4>Join us for FREE</h4>
                    </p>
                </a>
            </div>
        </div>
    </header>
    <section class="section-head">
        <div class="row">
            <h2>Collaboration &mdash; made easy</h2>
            <p class="center-sub">
                We want to remove the barriers to innovation and collaboration,
                by ensuring the right level of alignment between individuals/organisations according to their needs,
                capabilities and areas of expertise and interest.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 box">
                <i class="fa fa-users fa-5x"></i>
                <h3>The People</h3>
                <p>
                    Finding a community of highly skilled professionals or experts in a field
                    does not have to be difficult. We want to build a space where researchers, innovators
                    and industrial practitioners can meet and ignite change.
                </p>
            </div>
            <div class="col-md-4 box">
                <i class="fa fa-bar-chart fa-5x"></i>
                <h3>The Project</h3>
                <p>
                    A collaboration project can take many forms, from MSc. projects to building
                    consortiums for R&D initiatives. No matter the level, we want you to define what is
                    the give-and-take so that everybody can benifit and learn from each other.
                </p>
            </div>
            <div class="col-md-4 box">
                <i class="fa fa-thumb-tack fa-5x"></i>
                <h3>The Right Match</h3>
                <p>
                    Alignment is everything when it comes to successful collaborations.
                    We will help you to find the "right match" based on your needs, capabilities,
                    and areas of expertise and interest, so you get the best out of a collaboration.
                </p>
            </div>
        </div>
    </section>
    <section class="section-subscription">
        <div class="row">
            <h2>Start a collaboration project today</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="sub-box">
                    <div class="sub-box-top">
                        <h3>Researcher</h3>
                        <p class="sub-price">free</p>
                    </div>
                    <div>
                        <ul class="sub-box-ul">
                            <li><i class="fa fa-check"></i> Create a profile</li>
                            <li><i class="fa fa-check"></i> Propose a project</li>
                            <li><i class="fa fa-check"></i> Disseminate your work</li>
                            <li><i class="fa fa-check"></i> Tips on potentional partners</li>
                        </ul>
                    </div>
                    <div>
                        <a href="" class="btn btn-ghost btn-register" ng-click="vm.showAcademic()">Join for free</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sub-box">
                    <div class="sub-box-top">
                        <h3>Industrial</h3>
                        <p class="sub-price">free</p>
                    </div>
                    <div>
                        <ul class="sub-box-ul">
                            <li><i class="fa fa-check"></i> Create a profile</li>
                            <li><i class="fa fa-check"></i> Find an expert</li>
                            <li><i class="fa fa-times"></i> Propose a project</li>
                            <li><i class="fa fa-times"></i> Connect to potential partners</li>
                        </ul>
                    </div>
                    <div>
                        <a href="" class="btn btn-ghost btn-register" ng-click="vm.showIndustrial()">Join for free</a>
                    </div>
                </div >
            </div>
            <div class="col-md-4">
                <div class="sub-box">
                    <div class="sub-box-top">
                        <h3>Industrial adv.</h3>
                        <p class="sub-price">5$ <span>/ month</span></p>
                    </div>
                    <div>
                        <ul class="sub-box-ul">
                            <li><i class="fa fa-check"></i> Create a profile</li>
                            <li><i class="fa fa-check"></i> Find an expert</li>
                            <li><i class="fa fa-check"></i> Propose a project</li>
                            <li><i class="fa fa-check"></i> Connect to potential partners</li>
                        </ul>
                    </div>
                    <div>
                        <a href="" class="btn btn-ghost btn-register" ng-click="vm.showIndustrial()">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col-md-3">
                <p>&copy; 2016 Osmos.co</p>
            </div>
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Terms</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="social">
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                    <li><a href=""><i class="ai ai-researchgate"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>